@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* a {
    @apply font-spacemono;
  } */

  /* space-mono-regular - latin */
  @font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/space-mono-v6-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../assets/fonts/space-mono-v6-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../assets/fonts/space-mono-v6-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../assets/fonts/space-mono-v6-latin-regular.woff") format("woff"),
      /* Modern Browsers */
        url("../assets/fonts/space-mono-v6-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../assets/fonts/space-mono-v6-latin-regular.svg#SpaceMono")
        format("svg"); /* Legacy iOS */
  }
  /* mulish-200 - latin */
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 200;
    src: url("../assets/fonts/mulish-v3-latin-200.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../assets/fonts/mulish-v3-latin-200.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../assets/fonts/mulish-v3-latin-200.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../assets/fonts/mulish-v3-latin-200.woff") format("woff"),
      /* Modern Browsers */ url("../assets/fonts/mulish-v3-latin-200.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../assets/fonts/mulish-v3-latin-200.svg#Mulish") format("svg"); /* Legacy iOS */
  }
  /* mulish-regular - latin */
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/mulish-v3-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../assets/fonts/mulish-v3-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../assets/fonts/mulish-v3-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../assets/fonts/mulish-v3-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("../assets/fonts/mulish-v3-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../assets/fonts/mulish-v3-latin-regular.svg#Mulish") format("svg"); /* Legacy iOS */
  }
  /* mulish-300 - latin */
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/mulish-v3-latin-300.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../assets/fonts/mulish-v3-latin-300.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../assets/fonts/mulish-v3-latin-300.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../assets/fonts/mulish-v3-latin-300.woff") format("woff"),
      /* Modern Browsers */ url("../assets/fonts/mulish-v3-latin-300.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../assets/fonts/mulish-v3-latin-300.svg#Mulish") format("svg"); /* Legacy iOS */
  }
  /* mulish-500 - latin */
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/mulish-v3-latin-500.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../assets/fonts/mulish-v3-latin-500.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../assets/fonts/mulish-v3-latin-500.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../assets/fonts/mulish-v3-latin-500.woff") format("woff"),
      /* Modern Browsers */ url("../assets/fonts/mulish-v3-latin-500.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../assets/fonts/mulish-v3-latin-500.svg#Mulish") format("svg"); /* Legacy iOS */
  }
  /* mulish-600 - latin */
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/mulish-v3-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../assets/fonts/mulish-v3-latin-600.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../assets/fonts/mulish-v3-latin-600.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../assets/fonts/mulish-v3-latin-600.woff") format("woff"),
      /* Modern Browsers */ url("../assets/fonts/mulish-v3-latin-600.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../assets/fonts/mulish-v3-latin-600.svg#Mulish") format("svg"); /* Legacy iOS */
  }
  /* mulish-700 - latin */
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/mulish-v3-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../assets/fonts/mulish-v3-latin-700.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../assets/fonts/mulish-v3-latin-700.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../assets/fonts/mulish-v3-latin-700.woff") format("woff"),
      /* Modern Browsers */ url("../assets/fonts/mulish-v3-latin-700.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../assets/fonts/mulish-v3-latin-700.svg#Mulish") format("svg"); /* Legacy iOS */
  }
  /* mulish-800 - latin */
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/mulish-v3-latin-800.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../assets/fonts/mulish-v3-latin-800.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../assets/fonts/mulish-v3-latin-800.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../assets/fonts/mulish-v3-latin-800.woff") format("woff"),
      /* Modern Browsers */ url("../assets/fonts/mulish-v3-latin-800.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../assets/fonts/mulish-v3-latin-800.svg#Mulish") format("svg"); /* Legacy iOS */
  }
  /* mulish-900 - latin */
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    src: url("../assets/fonts/mulish-v3-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../assets/fonts/mulish-v3-latin-900.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../assets/fonts/mulish-v3-latin-900.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../assets/fonts/mulish-v3-latin-900.woff") format("woff"),
      /* Modern Browsers */ url("../assets/fonts/mulish-v3-latin-900.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../assets/fonts/mulish-v3-latin-900.svg#Mulish") format("svg"); /* Legacy iOS */
  }
  /* roboto-mono-300 - latin */
  @font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 300;
    src: local(""),
      url("../assets/fonts/roboto-mono-v13-latin-300.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../assets/fonts/roboto-mono-v13-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body {
    font-family: "Mulish";
    background-color: #fff;
  }

  .active {
    border-bottom-width: 2px;
    border-bottom-color: white;
  }

  .continuous-2 {
    background: repeating-linear-gradient(
        90deg,
        transparent 0 calc(25% - 10px),
        currentColor 0 calc(25% + 10px),
        transparent 0 50%
      )
      bottom right / 200% 3px no-repeat;
    transition: 0.5s;
  }
  .continuous-2:hover {
    background-position: bottom left;
  }

  .basic-6 {
    background: linear-gradient(currentColor 0 0) bottom / var(--d, 20%) 3px
      no-repeat;
    transition: 0.5s;
  }
  .basic-6:hover {
    --d: 80%;
  }

  .underline-thickness {
    text-decoration-thickness: 0.5px;
  }
}
